SESSION_ID="levanter_TanuDarling"
VPS="true"
AUTO_UPDATE="true"
SUDO="919864179454,256788028745,918638113876"
TIMEZONE="Asia/Kolkata"
VPS="true"
STICKER_PACKNAME="🦋⃟💗᪲᪲᪲𝐀𝐑𝐌𝐀𝐍 x 𝐓𝐀𝐍𝐔୧⍤⃝💐
                  𝐇𝐓𝐗𓆩❤️︎𓆪"
DATABASE_URL="postgresql://postgres.sfohftxcymarnapdabwr:Samhax@space1211@aws-0-ap-northeast-2.pooler.supabase.com:5432/postgres"
ANTI_DELETE="120363424408115543@g.us"
ANTI_EDIT="120363424408115543@g.us"
ANTI_VV="120363424408115543@g.us"
ALWAYS_ONLINE="false"
